/************************************************************************
// For extensive details about creating a Populr theme, please visit
// http://developers.populr.me/theming
*/


// You must import variables.less before importing populr_mixins.less
@import 'palette-custom';
@import 'palette-Neimar';
@import 'palette-default';
@import 'variables';
@import 'http://populr.me/assets/developers/populr_mixins.less';
@import 'preboot';


// Call preboot.less's reset to reduce browser inconsistencies
#reset > .global-reset();
#populr > .inline-logo-title();
/////////////////////////////////////////////////////////////////////////
// Typography defaults

@text-color:  #333332;
// @custom-color is defined in variables.less
@link-color: #333332;

// Title text defaults
// @headline-font-family is defined in variables.less

.headline-text(@font-size:52px;@font-weight:bold;) {
  font-family: @bold-font;
  font-size: @font-size;
  font-weight: @font-weight;
  letter-spacing: -1px;
  line-height: 1.1;
}

.pop-title-text() {
  font-family: @headline-font-family;
  font-size: 56px;
  line-height: 1.1;
}

// Body text defaults
@body-font-family: @italic-font;

.body-text(@font-size:22px;@font-weight:400;@font-family:@body-font-family;) {
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @font-weight;
  line-height: 1.45;
  text-align: left;
}
//Cool Header
#cool-header{
    position: fixed;
    top:0px;
    left:0px;
    -moz-box-shadow:    0 1px 5px -3px @custom-color;
    -webkit-box-shadow: 0 1px 4px -3px @custom-color;
    box-shadow:         0 1px 4px -3px @custom-color;
    background:#fff;
    width:100%;
    z-index:1000;
    overflow:hidden;
    height:60px;
    #cool-header-inner{
        background-color:#fff;
        width:760px;
        padding:6px 70px;
        margin:0 auto;
        #pop-logo{max-width:120px;float:left;}
        #pop-sharing{float:left;max-width:570px;}
    }
}
#pop {
  margin-top: 0;
  font-family: @body-font-family;
  color: @text-color;
  i, em { 
    font-style: italic; 
    font-family:@italic-font;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
  }
  i{
    display: inline-block;
    border-left:6px solid @custom-color;
    padding-left:20px;
    position:relative;
    left:-20px;
  }
  b, strong { 
    font-weight: 700; 
    font-family:@bold-font;
  }

  a {
    color: @link-color;
    &:active { color: lighten(@link-color, 20%); }
    &:hover{color:@custom-color}
  }
}

// End typography defaults
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Structure

// Content wrapper
#main-region{
    position:relative;
    top:60px;
}
#main-content { 
    margin: 0 auto; 
    background-color: white;
}

// Logo helper
#pop-logo { margin: 20px auto; }

// Pop title
#pop-title {
  max-width: 960px;
  padding: 0 20px;
  margin: 50px auto;

  .pop-title-text();
  text-align:left;
}
.columnizer-row-inner{
    background-color: white;
}

// Assets
.asset-title {
  .headline-text();
  margin: 15px 0 25px 0;
  i{font-size: 33px;}
}

.description, .body {
  .body-text();

  margin: 10px 0;
  ul, ol { margin: .5em 0 .5em 1.5em; }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
}

.columnizer-cols1{
  .asset-title {
    .headline-text(52px;bold);
  }
  .description, .body, .description li, .body li,  {
    .body-text(22px;400;@italic-font);
  }
}
.columnizer-cols2{
  .asset-title {
    .headline-text(48px;bold);
  }
  .description, .body, .description li, .body li,  {
    .body-text(19px;400;@italic-font);
  }
}
.columnizer-cols3{
        .columnizer-col:nth-of-type(1),.columnizer-col:nth-of-type(3){
            .asset-title {
                .headline-text(36px;bold);
            }
            .description, .body, .description li, .body li,  {
                .body-text(17px;400;@italic-font);
            }
         //Images
         .cols3-big-image{
            display: none;
         }
         .cols3-small-image{
             /* Safari 3-4, iOS 1-3.2, Android 1.6- */
            -webkit-border-radius: 50%; 

            /* Firefox 1-3.6 */
            -moz-border-radius: 50%; 
  
            /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
            border-radius: 50%; 
            overflow: hidden;
           }
         //Docs
            .doc-title{
                max-width:50px;
             }
            .download-button{
                width:120px;
                margin-bottom:10px;
            }
            //
        } 
        
        .columnizer-col:nth-of-type(2){
           .asset-title {
                .headline-text(48px;bold);
            }
            .description, .body, .description li, .body li,  {
                .body-text(19px;400;@italic-font);
            }
         //images
           .cols3-small-image{
             display: none;
           }
           
        }
}


// Text asset styling


// Image asset styling
#populr > #image-slider-themes > .basic();
.prevnext{display:none!important;}


// Document asset styling
.documents {
  margin: 0 auto;
  padding: 30px 0;
  li { 
    margin-bottom: 1em;
    padding:10px;
    display: block;
    text-align: left;
    a {
      display: block;
      text-decoration: none;
      line-height: 1.2;
      overflow: hidden;
      .doc-title{
        display: table-cell;
        line-height: 1.4;
        text-align: left;
        vertical-align: middle;
        height:39px;
        padding-right:10px;
        color: black!important;
        font-size:14px;
        text-transform: capitalize;
        font-family:@italic-font;
        max-width:227px;
      }
      .download-button{
        float: left;
        margin: 0 10px 0 0;
        background-color: @custom-color;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 14px;
        line-height: 39px;
        text-align: center;
        text-decoration: none;
        font-style: normal;
        cursor: pointer;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        display: inline-block;
        position: relative;
        height: 40px;
        width:125px;
      }
      i.icon { font-style: normal !important;margin: auto; text-align: center; vertical-align: middle; }
    }
  }
}
//embed
.embedded-object{
    margin-bottom:10px;
}
//text-align for cols3
.columnizer-cols3{
        .columnizer-col:nth-of-type(1),.columnizer-col:nth-of-type(3){
            .doc-title{
                max-width:100px;
            }
            .download-button{
                width:100px;
                margin:0 0 10px 0;
            }
        } 
}
.columnizer-cols3{
        .columnizer-col:nth-of-type(1){
            .asset-title {
                text-align: right;
            }
            .description, .body, .description li, .body li,  {
                text-align: right;
            }
        }

        .columnizer-col:nth-of-type(3){
            text-align: left;
        }
}
// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// End structure
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Mobile
//
// The Populr mobile reset will handle some of the basics of mobilizing 
// your theme, such as stacking all of the assets vertically and scaling 
// them to 100% of the width of their container. However, you'll have to 
// fine tune the styling to make your theme look really good on mobile
// devices.

@media screen and (max-width: 960px) {
  #populr > .mobile-reset();

  // Edit the grid for mobile
  .columnizer-row-inner, #pop-title { max-width: 640px; }
  .columnizer-col { margin: 0 10px 20px !important; }

  // Edit the typography for mobile
  #pop-title { font-size: 40px !important; }
  .asset-title { font-size: 24px !important; }
  .description, .body, .description li, .body li { font-size: 14px !important; }
  .asset-title, .description, .body, .description li, .body li { text-align: left !important; }
}

@media screen and (max-width: 600px) {
  #pop-title { font-size: 32px !important; }
  .asset-title { font-size: 20px !important; }
}
